<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width,initial-scale=1'>

    <title>{{ title }}</title>

    <link href="{{js_url("bundle.css")}}" rel="stylesheet"></link>
    <link href="/static/style.css" rel="stylesheet"></link>

    <script defer type="module" src="{{js_url("main.js")}}"></script>

  </head>

  <body>
    {% include "includes/header.jinja2" %}

    <main>
      {% block main %}
      {% endblock %}
    </main>

    {% include "includes/footer.jinja2" %}

    {% block deferred %}
    {% endblock %}


  </body>
</html>
