{% extends "includes/base.jinja2" %}

{% macro render_paths_d(paths_d) %}
  <ul>
    {% for drv, outputs in paths_d.items() %}
      <li>
        <p class="fakepre">
          {% if drv != drv_path %}
            <a href="{{url_reverse("drv", drv_path=drv_url_quote(drv))}}">
              <span x-data-tooltip="Derivation path">{{drv}}</span>
            </a>
          {% else %}
            <span x-data-tooltip="Derivation path">{{drv}}</span>
          {% endif %}
        </p>
        <ul>
          {% for output, paths in outputs.items() %}
            <li>
              <p x-data-tooltip="The derivation output" class="fakepre">{{output}}</p>
              <form action="{{url_reverse("diff_form")}}" method="POST" class="{% if paths|length > 1 %}unreproduced{% endif %}">
                <ul class="drv-outputs">
                  {% for output_hash, results in paths.items() %}

                    <div class="drv-output" x-data-outputhash="{{output_hash}}">
                      <input type="checkbox"
                             {% if paths|length == 2 %}
                               checked onclick="return false;"
                             {% elif paths|length == 1 %}
                               disabled
                             {% endif %}
                             name="output_hash" value="{{output_hash}}">
                      <label x-data-tooltip="Narinfo hash" for="output_hash">{{output_hash}}</label>

                      <ul class="log-names">
                        {% for result in results %}
                          <li x-data-tooltip="Log (builder) name" class="log-name">{{logs.get(result.log_id, "<Unknown log>")}}</li>
                        {% endfor %}
                      </ul>
                    </div>

                  {% endfor %}
                </ul>

                {% if paths|length > 1 %}
                  <input type="submit" class="drv-compare" value="Compare" />
                {% endif %}
              </form>

            </li>
          {% endfor %}
        </ul>
      </li>
    {% endfor %}
  </ul>
{% endmacro %}

{% block deferred %}
  <script type="text/javascript">
    {% include "includes/drv-pie-render.js" %}
  </script>
{% endblock %}

{% block main %}

  <h2 x-data-tooltip="Derivation path">{{drv_path}}</h2>
  <p>{{statistics.num_reproduced}}/{{statistics.num_outputs}} ({{statistics.pct_reproduced}}%) verified to be reproducible</p>

  {% if unreproduced_paths %}
    <h3>Unreproduced paths</h3>
    {{ render_paths_d(unreproduced_paths) }}
  {% endif %}

  {% if reproduced_paths %}
    <h3>Reproduced paths</h3>
    {{ render_paths_d(reproduced_paths) }}
  {% endif %}

  {% if unknown_paths %}
    <h3>Unknown paths (only built by one log)</h3>
    {{ render_paths_d(unknown_paths) }}
  {% endif %}

  {% if missing_paths %}
    <h3>Missing paths (not built by any known log)</h3>
    {{ render_paths_d(missing_paths) }}
  {% endif %}

{% endblock %}
