{% extends "base.jinja2" %}

{% block main %}

  <div x-data-attr="{{attr}}">

    <h3>
      Reproducibility for <a x-data-tooltip="Derivation attribute" href="#">{{attr}}</a>
    </h3>

    <table>
      <thead>
        <tr>
          <th>Derivation</th>
          <th x-data-tooltip="Reproducibility in percent">Reproducibility</th>
          <th x-data-tooltip="Total number of outputs in the transitive closure">Outputs</th>
          <th>Reproduced outputs</th>
        </tr>
      </thead>
      <tbody>
        {% for drv, info in attr_stats.items() %}
          <tr x-data-drv="{{drv}}">
            <td x-data-type="drv">
              <a href="{{url_reverse("drv", drv_path=drv_url_quote(drv))}}">
                {{drv}}
              </a>
            </td>
            <td x-data-type="pct_reproduced">{{info.statistics.pct_reproduced}}</td>
            <td x-data-type="num_outputs">{{info.statistics.num_outputs}}</td>
            <td x-data-type="num_reproduced">{{info.statistics.num_reproduced}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

  </div>

{% endblock %}

{% block deferred %}
  <script type="text/javascript">
    {% include "attr-chart-render.js" %}
  </script>
{% endblock %}
