{% extends "base.jinja2" %}

{% block main %}

  <div x-data-attr="{{attr}}">

    <h3>
      Reproducibility for <a x-data-tooltip="Derivation attribute" href="#">{{attr}}</a>
    </h3>

    <table>
      <thead>
        <tr>
          <th>Derivation</th>
          <th>Reproducibility</th>
          <th>Outputs</th>
          <th>Reproduced outputs</th>
        </tr>
      </thead>
      <tbody>
        {% for drv, info in attr_stats.items() %}
          <tr>
            <td>{{drv}}</td>
            <td>{{info.statistics.pct_reproduced}}</td>
            <td>{{info.statistics.num_outputs}}</td>
            <td>{{info.statistics.num_reproduced}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

{% endblock %}

{% block deferred %}
  <script type="text/javascript">
    (() => {
      const main = document.querySelector("main")

      const chartDiv = document.createElement("div");
      chartDiv.setAttribute("class", "index-line-chart")
      main.appendChild(chartDiv)

      const chart = c3.generate({
          bindto: chartDiv,
          axis: {
            y: {
              padding: {top: 3, bottom: 0},
              max: 100,
              min: 0,
            },
          },
          data: {
            columns: [
              ["{{attr}}", 50, 100, 25],
            ]
          }
      });

    })()
  </script>

{% endblock %}
