body {
    font-family: Open Sans, Arial;
    color: #454545;
    font-size: 16px;
    margin: 2em auto;
    margin-top: 0;
    max-width: 800px;
    padding: 1em;
    padding-top: 0;
    line-height: 1.4;
    text-align: justify
}

html.contrast body {
    color: #050505
}

html.contrast blockquote {
    color: #11151a
}

html.contrast blockquote:before {
    color: #262626
}

html.contrast a {
    color: #03f
}

html.contrast a:visited {
    color: #7d013e
}

html.contrast span.wr {
    color: #800
}

html.contrast span.mfw {
    color: #4d0000
}

a {
    color: #07a
}

a:visited {
    color: #941352
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

span.citneed {
    vertical-align: top;
    font-size: .7em;
    padding-left: .3em
}

small {
    font-size: .4em
}

p.st {
    margin-top: -1em
}

div.fancyPositioning div.picture-left {
    float: left;
    width: 40%;
    overflow: hidden;
    margin-right: 1em
}

div.fancyPositioning div.picture-left img {
    width: 100%
}

div.fancyPositioning div.picture-left figure {
    margin: 10px
}

div.fancyPositioning div.picture-left figure figcaption {
    font-size: .7em
}

div.fancyPositioning div.tleft {
    float: left;
    width: 55%
}

div.fancyPositioning div.tleft p:first-child {
    margin-top: 0
}

div.fancyPositioning:after {
    display: block;
    content: "";
    clear: both
}

ul li img {
    height: 1em
}

blockquote {
    color: #456;
    margin-left: 0;
    margin-top: 2em;
    margin-bottom: 2em
}

blockquote span {
    float: left;
    margin-left: 1rem;
    padding-top: 1rem
}

blockquote author {
    display: block;
    clear: both;
    font-size: .6em;
    margin-left: 2.4rem;
    font-style: oblique
}

blockquote author:before {
    content: "- ";
    margin-right: 1em
}

blockquote:before {
    font-family: Times New Roman, Times, Arial;
    color: #666;
    content: open-quote;
    font-size: 2.2em;
    font-weight: 600;
    float: left;
    margin-top: 0;
    margin-right: .2rem;
    width: 1.2rem
}

blockquote:after {
    content: "";
    display: block;
    clear: both
}

@media screen and (max-width:500px) {
    body {
        text-align: left
    }
    div.fancyPositioning div.picture-left,
    div.fancyPositioning div.tleft {
        float: none;
        width: inherit
    }
    blockquote span {
        width: 80%
    }
    blockquote author {
        padding-top: 1em;
        width: 80%;
        margin-left: 15%
    }
    blockquote author:before {
        content: "";
        margin-right: inherit
    }
}

span.visited {
    color: #941352
}

span.visited-maroon {
    color: #85144b
}

span.wr {
    color: #c0392b;
    font-weight: 600
}

button.cont-inv,
span.wr {
    text-decoration: underline
}

button.cont-inv {
    cursor: pointer;
    border-radius: 2px;
    position: fixed;
    right: 10px;
    font-size: .8em;
    border: 0;
    padding: 2px 5px
}

#contrast {
    color: #000;
    top: 10px
}

#contrast {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

@media screen and (max-width:1080px) {
    #contrast {
        position: absolute
    }
}

span.sb {
    color: #00e
}

span.sb,
span.sv {
    cursor: not-allowed
}

span.sv {
    color: #551a8b
}

span.foufoufou {
    color: #444;
    font-weight: 700
}

span.foufoufou:before {
    content: "";
    display: inline-block;
    width: 1em;
    height: 1em;
    margin-left: .2em;
    margin-right: .2em;
    background-color: #444
}

span.foufivfoufivfoufiv {
    color: #454545;
    font-weight: 700
}

span.foufivfoufivfoufiv:before {
    content: "";
    display: inline-block;
    width: 1em;
    height: 1em;
    margin-left: .2em;
    margin-right: .2em;
    background-color: #454545
}

span.mfw {
    color: #730000
}

p.fakepre {
    font-family: monospace;
    font-size: .9em
}

input.drv-compare {
    float: right;
}

/* Search suggestions */
div#search-suggest {
    position: absolute;
    border: 1px solid #454545;
    background-color: #fff;
}

div#search-suggest > ul {
    list-style-type: none;
    padding: 0;
    margin: 10px;
}
